<div class="container p-4">
  <div class="row">

<div class="row row-cols-1 row-cols-md-2 g-4">

      <div class="col-md-3">
<div class="card border-primary">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title text-uppercase">
              Gestion de Equipos
            </h2>
            <p class="card-text">
              Aquí puedes gestionar los equipos de computo corporativos.
            </p>
            <p>(Laptops, Desktops, Servers)</p>
            <a href="/hardware" class="btn btn-primary">Ir a la gestión de
              equipos</a>
          </div>
        </div>
      </div>
      </div>

<div class="col-md-3">
<div class="card border-primary">
        <div class="card text-center">
          <div class="card-body">
              <h2 class="card-title text-uppercase">
                Gestion de Perifericos
              </h2>
            <p class="card-text">
              Aquí puedes gestionar los periféricos de la empresa.
            </p>
            <p>(Diademas, Mouse, Teclado, Base)</p>
            <a href="/perifericos" class="btn btn-primary">Ir a la gestión de
              periféricos</a>
          </div>
        </div>
      </div>
      </div>

<div class="col-md-3">
<div class="card border-primary">
        <div class="card text-center">
          <div class="card-body">
              <h2 class="card-title text-uppercase">
                Gestion de Usuarios
              </h2>
            <p class="card-text">
              Aquí puedes gestionar el personal de la empresa que tiene equipos
              asignados.
            </p>
            <a href="/people" class="btn btn-primary">Ir a la gestión de
              usuarios</a>
          </div>
        </div>
      </div>
      </div>
      
<div class="col-md-3">
<div class="card border-primary">
        <div class="card text-center">
          <div class="card-body">
              <h2 class="card-title text-uppercase">
                Gestion de Otros Activos
              </h2>
            <p class="card-text">
              Aquí puedes gestionar otros activos de la empresa.
            </p>
            <a href="/activos" class="btn btn-primary">Ir a la gestión de
              activos</a>
          </div>
        </div>
      </div>
    </div>
      </div>

  </div>
</div>